<div class="users-about">
  <%= image_tag('20160908-s4-11-530x300.jpg', :align => "right") %>
  <p class="users-about-p">Sake app は、飲んだ日本酒を投稿したり、</p>
  <p class="users-about-p">日本酒についてブログを書くことができる</p>
  <p class="users-about-p">アプリです。</p>
</div>

<div class="users-about">
aaa
</div>
