// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index --------------------------------------------------

.blog-index-panel-size {
  width: 700px;
  height: 180px;
}

.blog-index-menu-space {
  padding-top: 10px;
}

.blog-index-content-area {
  height: 60px;
  vertical-align: top;
}

// confirm -------------------------------------------------

.blog-confirm-panel-size {
  width: 700px;
  height: auto;
}

.blog-confirm-image-position {
  text-align: center;
  vertical-align: middle;
  width: 700px;
}

.blog-confirm-border {
  border-top: 1px #bce8f1 solid;
}

// show ---------------------------------------------------

.blog-show-panel-size {
  width: 700px;
  height: auto;
}

.blog-show-menu-space {
  padding-top: 10px;
}

// .blog-show-content-area {
//   height: 60px;
//   vertical-align: top;
// }

.blog-show-image-positon {
  text-align: center;
  vertical-align: middle;
  width: 700px;
  height: 250px;
}

.blog-show-border {
  border-top: 1px #bce8f1 solid;
}

// other --------------------------------------------------

.blog-title-box {
  padding:0.5em 1em;
  margin: 1em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  padding: 5px;
  width: 500px;
}

.blog-show-comment-area {
  width: 600px;
  height: 100px;
}

.comment-comment-table-area {
  width: 600px;
}

.comment-comment-area {
  padding-top: 5px;
}

.comment-comment-space {
  padding-top: 5px;
}

.comment-comment-name {
  margin-top: 50px;
}
