// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new ----------------------------------------------------

.session-new-panel-size {
  width: 700px;
  height: auto;
}

.session-new-table-space {
  padding: 5px 20px 5px 5px;
}

.session-new-label-space {
  width: 181px;
}
